<div class="ui text container">
  <h1>Welcome to Dimes</h1>

</div>
<h2>Create and find opportunities for pickup basketball<h2>

<%= link_to("Login", login_path) %>  |
<%= link_to("Signup", new_player_path) %>


<button class="ui button">
  Button
</button>

<button>
  Button
</button>
