<div class="ui middle aligned center aligned grid">
  <div class="column">
    <body class="home_page">



      <div class="massive">

      </div>
  <h1 class="ui grey inverted header">Welcome to Dimes</h1>
  <div class="ui large form">



<h2 class="ui grey inverted header">Create and find opportunities for pickup basketball<h2>

<%= link_to("Login", login_path) %>  |
<%= link_to("Signup", new_player_path) %>


    </body>
  </div>
</div>
