<h1>All available games</h1>


<% @games.each do |game|%>
  <h3>Title: <%= link_to(game.title, game_path(game))%></h3>
  <li>Place: <%= game.location%></li>
  <li>Time: <%= game.time%> </li>
  </br>

<%end%>
