/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: url("https://images.unsplash.com/photo-1518065336951-d16c043900d6?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
}

.login_page {
  margin-bottom: 10px;
  margin-left: 10px;
}

// .fields {
//   display: flex;
//   justify-content: center;
// }

#navbarOptions {
  display: flex;
  justify-content: space-between;
}

.nav {
  margin-top: 16px;
  font-size: 17px;
  margin-right: 10px;
}

.forms {
  display: flex;
  flex-direction: column;
  /* margin: 15em; */
  align-items: center;
  background-image: url(bball2.jpeg);
  opacity: 1;
  height: 50%;
  margin-left: 20em;
  margin-right: 20em;
  margin-top: 15em;
  color: #327aae;
  border-style: solid;
  justify-content: center;

  .label {
    font-weight: bolder;
  }
}

#player-image {
  background-image: url(jordan.jpg);
  height: 15em;
  max-width: 23%;
  background-size: contain;
}

.player-page {
  margin: 10px;
  color: #327ab7;
}

#game-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 4em;
  color: #327ab7;
}

#navbarOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #327ab7;
  background-image: url("balls.jpg");

  h4 {
    background: black;
  }
}
